<p>edit-course-form works!</p>
<form>
  <div class="form-group">
    <label for="courseTitle">Course Title</label>
    <input
      type="text"
      class="form-control"
      id="courseTitle"
      [value]="currentCourse.courseTitle"
      name="courseTitle"
      #courseTitle
      aria-describedby="emailHelp"
      placeholder="Course Title"
    />
  </div>
  <div class="form-group">
    <label for="courseDuration">Course Duration</label>
    <input
      type="text"
      class="form-control"
      [value]="currentCourse.courseDuration"
      id="courseDuration"
      name="courseDuration"
      #courseDuration
      aria-describedby="emailHelp"
      placeholder="Course Duration"
    />
  </div>
  <div class="form-group">
    <label for="courseContent">Course Content</label>
    <input
      type="text"
      class="form-control"
      id="courseContent"
      [value]="currentCourse.courseContent"
      name="courseContent"
      #courseContent
      aria-describedby="emailHelp"
      placeholder="Course Content"
    />
  </div>
  <div class="form-group">
    <label for="isAvailable">Is Currently Available</label>
    <input
      type="checkbox"
      id="isAvailable"
      name="isAvailable"
      [checked]="currentCourse.isAvailable"
      #isAvailable
    />
    Active
  </div>
  <button
    type="button"
    class="btn btn-success btn-lg"
    (click)="onCourseEdition()"
  >
    Edit Course
  </button>
</form>
